:root {
    font-family: "Alice", serif;
}
body{
    background-image: url('/src/assets/images/fundo.jpg');
    background-size: cover;
}

#container{
    width: 1100px;
    background-color: #E2E3A9;
    border-radius: 20px;
    margin: 50px auto;
    display: flex;
}

#info-group{
    margin: 100px 20px auto;
    line-height: 10px;
}

#info-group h1{
    color: #301406;
    font-size: 60px;
}

#info-group p{
    text-align: center;
    font-size: 18px;
}
img{
    width: 200px;
    padding: 50px;
    border-radius: 300px;
}